<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/khoaHoc.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Trang chủ</title>
</head>

<body class="p-0">
    <div class="container-fluid">
        <div class="row">
            <article class="col-10 m-auto ">
                <div class="card border-0">
                    <div class="card-header bg-white">
                        <div class="nav nav-tabs nav-fill col-6 mx-auto" role="tablist">
                            <li class="nav-item">
                                <button class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#all">Tất cả</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link " role="tab" data-bs-toggle="tab" data-bs-target="#app">APP</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#web">WEB</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#sql">SQL</button>
                            </li>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- tab1 -->
                            <div class="tab-pane show active" role="tab" id="all">
                                <div class="row row-gap-4">
                                    <div class="box col-12 col-sm-6 col-lg-4" ng-repeat="kh in khoahoc">
                                        <div class="card img-full position-relative">
                                            <div class="card-img"><img src="IMG/logoKH/{{kh.Logo}}" alt="" class="img-fluid mx-auto d-block hinha">
                                            </div>
                                            <div class="position-absolute hocngay">
                                                <a href="#!tracnghiem/{{kh.Id}}/{{kh.Name}}" class="btn btn-secondary fw-bold " type="button" ng-show="Auth != null">Học ngay</a>
                                                <a href="#!dangnhap" class="btn btn-secondary fw-bold " type="button" ng-show="Auth == null">Đăng nhập</a>
                                            </div>
                                            <div class="card-footer text-center fw-bold bg-white p-3">{{kh.Name}}</div>
                                        </div>
                                    </div>

                                    <div class="row col-12 mx-auto d-flex justify-content-center column-gap-4">
                                        <button type="button" class="btn btn-secondary col-2"><i class="fa-solid fa-backward-step" style="color: orange;"></i></button>
                                        <button type="button" class="btn btn-secondary col-2"><i class="fa-solid fa-circle-arrow-left" style="color: orange;"></i></button>
                                        <button type="button" class="btn btn-secondary col-2"><i class="fa-solid fa-circle-arrow-right" style="color: orange;"></i></button>
                                        <button type="button" class="btn btn-secondary col-2"><i class="fa-solid fa-forward-step" style="color: orange;"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- endtab1 -->
                            <!-- tab2 -->
                            <div class="tab-pane show" role="tab" id="app">
                                <div class="row row-gap-4">
                                    <div class="box col-12 col-sm-6 col-lg-4" ng-repeat="kh in khoahoc|filter:'APP'">
                                        <div class="card img-full position-relative">
                                            <div class="card-img"><img src="IMG/logoKH/{{kh.Logo}}" alt="" class="img-fluid mx-auto d-block hinha">
                                            </div>
                                            <div class="position-absolute hocngay">
                                                <a href="#!tracnghiem/{{kh.Id}}/{{kh.Name}}" class="btn btn-secondary fw-bold " type="button">Học ngay</a>
                                                <a href="#!dangnhap" class="btn btn-secondary fw-bold " type="button" ng-show="Auth == null">Đăng nhập</a>
                                            </div>
                                            <div class="card-footer text-center fw-bold bg-white p-3">{{kh.Name}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- endtab2 -->
                            <!-- tab3 -->
                            <div class="tab-pane show" role="tab" id="web">
                                <div class="row row-gap-4">
                                    <div class="box col-12 col-sm-6 col-lg-4" ng-repeat="kh in khoahoc|filter:'WEB'">
                                        <div class="card img-full position-relative">
                                            <div class="card-img"><img src="IMG/logoKH/{{kh.Logo}}" alt="" class="img-fluid mx-auto d-block hinha">
                                            </div>
                                            <div class="position-absolute hocngay">
                                                <a href="#!tracnghiem/{{kh.Id}}/{{kh.Name}}" class="btn btn-secondary fw-bold " type="button">Học ngay</a>
                                                <a href="#!dangnhap" class="btn btn-secondary fw-bold " type="button" ng-show="Auth == null">Đăng nhập</a>
                                            </div>
                                            <div class="card-footer text-center fw-bold bg-white p-3">{{kh.Name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- endtab3 -->
                            <div class="tab-pane show" role="tab" id="sql">
                                <div class="row row-gap-4">
                                    <div class="box col-12 col-sm-6 col-lg-4" ng-repeat="kh in khoahoc|filter:'database'">
                                        <div class="card img-full position-relative">
                                            <div class="card-img"><img src="IMG/logoKH/{{kh.Logo}}" alt="" class="img-fluid mx-auto d-block hinha">
                                            </div>
                                            <div class="position-absolute hocngay">
                                                <a href="#!tracnghiem/{{kh.Id}}/{{kh.Name}}" class="btn btn-secondary fw-bold " type="button">Học ngay</a>
                                                <a href="#!dangnhap" class="btn btn-secondary fw-bold " type="button" ng-show="Auth == null">Đăng nhập</a>
                                            </div>
                                            <div class="card-footer text-center fw-bold bg-white p-3">{{kh.Name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>


    </div>


</body>

</html>